<div class="col p-5 mb-3">
    <div class="col-md-12 mt-1" >
        <img src="assets/product.PNG" class="rounded-circle" alt="" width="200px" height="200px">
    </div>
    <hr>
    <div class="col-md-12">
        <div class="col-md-12 mb-3">
            <h2><i class="fa fa-info-circle blue-color" aria-hidden="true"></i>Informations de l'article </h2>
        </div>
        <div class="col-md-12 ">
            <form>
                <div class="row mb-3">
                  <div class="col">
                      <input type="text" class="form-control" placeholder="Code article">
                  </div>
                  <div class="col">
                      <input type="text" class="form-control" placeholder="Designation">
                  </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prix unitaire HT">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Taux TVa">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Prix unitaire TTC">
                    </div>
                    <div class="col">                      
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Selectionner une categorie</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                  </div>
              </form>
        </div>

    </div>
    <div class="col-md-12 d-flex justify-content-end text-right">
        <button class="btn btn-danger mr-2" (click)="cancel()">
            <i class="fa fa-ban" aria-hidden="true">&nbsp;</i>
            Annuler
        </button>
        <button class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true">&nbsp;</i>
            Enregistrer
        </button>
    </div>
</div>