<div class="row mb-1 mr-0 custom-border" >
    <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1">
        <img src="assets/product.PNG" width="100px" height="100px">
    </div>
<!-- Details articles -->
    <div class="col-md-4 mb-1 mt-1 custom-border-right ">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fa fa-info-circle blue-color" aria-hidden="true"></i></div>
                <div class="col-md-11">Code article</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-info-circle blue-color" aria-hidden="true"></i></div>
                <div class="col-md-11">Designation</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-usd blue-color" aria-hidden="true"></i></div>
                <div class="col-md-11">Prix HT</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa fa-usd blue-color" aria-hidden="true"></i></div>
                <div class="col-md-11">Prix TTC</div>
            </div>
        </div>
    </div>
<!-- Details categories -->

    <div class="col-md-3 mb-1 mt-1 custom-border-right">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-flag-checkered blue-color" aria-hidden="true"></i>
            </div>
            <div class="col">
                <div class="col-md-12">Code categorie</div>
                <div class="col-md-12">Description categorie</div>
            </div>
        </div>    
    </div>
<!-- Bouttons action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4 p-0">
                <button type="button" class="btn btn-link "> 
                    <i class="fa fa-pencil" aria-hidden="true">&nbsp;</i> 
                    Modifier
                </button>
            </div>
            <div class="col-md-4 p-0">
                <button type="button" class="btn btn-link">
                    <i class="fa fa-trash" aria-hidden="true">&nbsp;</i>
                    Supprimer</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fa fa-list-alt" aria-hidden="true">&nbsp;</i>
                    Details
                </button>
            </div>
        </div>
    </div>
</div>