
<div class="d-flex">
    <div class="p-1 flex-fill">
        <button type="button" class="btn btn-warning d-flex">
            <i class="fa fa-cloud-download mt-1" aria-hidden="true">&nbsp;</i>
            Importer
        </button>
    </div>
    <div class="col p-1 flex-fill">
        <button type="button" class="btn btn-success d-flex ">
            <i class="fa fa-cloud-upload mt-1" aria-hidden="true">&nbsp;</i>
            Exporter
        </button>
    </div>
    <div class="p-1 flex-fill ">
        <button type="button" class="btn btn-primary d-flex" (click)="bouttonNouveauClick()">
            <i class="fa fa-plus mt-1" aria-hidden="true">&nbsp;</i>
            Nouveau
        </button>
    </div>
</div>